.cart-item{
	font-weight: 600;
	font-size: 14px;
	padding: 7px 14px;
	clear: both;
	overflow: hidden;
}
.cart-right{
	margin-left: 115px;
	min-width: 150px;
}
.cart-item-img{
	width: 100px;
	float: left;
}
.cart-item-name{
	margin-bottom: 15px;
}
.cart-item-attributes{
	margin-bottom: 10px;
}
.cart-item-attributes dt{
	float: left;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1px;
}
.cart-item-attributes dd{
	margin-left: 70px;
}
.cart-item-attributes .price{

}
.cart-item-del{
	float: right;
}
.cart-total{
	clear: both;
	text-align: right;
	margin-top: 10px;
	padding: 10px 15px 0px 15px;
	border-top: 1px solid gainsboro;
	font-weight: 600;
	letter-spacing: 1px;
}
.cart-checkout{
	text-align: center;
	margin-top: 10px;
	padding: 20px 15px 10px 15px;
	border-top: 1px solid gainsboro;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
}