.cart-content-products{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.item-transition-appear {
  opacity: 0.01;
}
.item-transition-leave {
  opacity: 1;
}
.item-transition-appear.item-transition-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.item-transition-leave.item-transition-leave-active {
  opacity: 0;
  transition: opacity .5s ease-in;
}